# .dockerignore taken from https://stackoverflow.com/a/51429852

# Ignore everything
**

# Allow files and directories
!/setup.py
!/delphi/**
!/lib/**
!/CMakeLists.txt
!/cmake/**
!/tests/**
!/apps
!/external
!/Makefile

# Ignore unnecessary files inside allowed directories
# This should go after the allowed directories
**/*~
**/*.log
**/*.swp
**/.DS_Store
**/Thumbs.db
