[submodule "delphi/cpp/pybind11"]
	path = external/pybind11
	url = https://github.com/pybind/pybind11
[submodule "delphi/cpp/cppitertools"]
	path = external/cppitertools
	url = https://github.com/ryanhaining/cppitertools
