[submodule "external/pybind11"]
	path = external/pybind11
	url = https://github.com/pybind/pybind11
[submodule "external/cppitertools"]
	path = external/cppitertools
	url = https://github.com/ryanhaining/cppitertools
