dist: xenial
language: 
 - python
 - cpp

compiler:
  - gcc
  - clang

python:
  - "3.6"

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - sqlite3 
    - libsqlite3-dev
    - graphviz
    - libboost-all-dev
    - g++-8

install:
  - make extensions
  - export CC=gcc-8
  - export CXX=g++-8
  - pip install cython
  - pip install -e .[test,docs]
  # Download SQLite3 database containing model parameterization data.
  - curl -O http://vision.cs.arizona.edu/adarsh/delphi.db
  # Set the environment variable DELPHI_DB to point to the SQLite3 database.
  - export DELPHI_DB=`pwd`/delphi.db

script:
  - make test
  - cd docs; make apidocs; make html

deploy:
  local-dir: docs/_build/html
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN
  on:
    branch: master

after_success: bash <(curl -s https://codecov.io/bash)

cache: pip
