language: python

python:
  - "3.6"

env:
  - DELPHI_DATA=$TRAVIS_BUILD_DIR/data

install:
  - export PYTHONPATH=$PYTHONPATH:$TRAVIS_BUILD_DIR
  - pip install pipenv
  - pipenv install -d --skip-lock
  - curl http://vision.cs.arizona.edu/adarsh/delphi_data.tgz -o data.tgz
  - tar -xvzf data.tgz; rm data.tgz
  - pipenv run celery -A delphi.icm_api.api.celery worker

script: make test
after_success: coveralls
cache: pip
