language: python

python:
  - "3.6"

env:
  - DELPHI_DB=$TRAVIS_BUILD_DIR/delphi.db

addons:
  apt:
    packages:
    - graphviz

install:
  - pip install .[test,docs]
  - wget http://vision.cs.arizona.edu/adarsh/delphi.db

script:
  - make test
  - cd docs; make apidocs; make html

deploy:
  local-dir: docs/_build/html
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN
  on:
    branch: master

after_success: bash <(curl -s https://codecov.io/bash)

cache: pip
