[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

delphi = "*"
tqdm = "*"
sphinxcontrib-bibtex = "*"
sphinxcontrib-trio = "*"
sphinx-autodoc-typehints = "*"
networkx = "==1.11"
numpy = "*"
pandas = "*"
scipy = "*"
flask = "*"
mypy = "*"
pytest = "*"
matplotlib = "*"
seaborn = "*"
pygraphviz = "*"
docopt = "*"
cython = "*"
indra = {git = "https://github.com/sorgerlab/indra.git"}
future = "*"
rdflib = "*"
requests = "*"
objectpath = "*"


[dev-packages]

pyjnius = "*"
neovim = "*"
