[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

delphi = "*"
tqdm = "*"
sphinxcontrib-bibtex = "*"
sphinxcontrib-trio = "*"
sphinx-autodoc-typehints = "*"
networkx = "*"
numpy = "*"
pandas = "*"
scipy = "*"
Flask = "*"
mypy = "*"
pytest = "*"
matplotlib = "*"
seaborn = "*"
jnius_indra = "*"
pygraphviz = "*"
indra = {git = "https://github.com/sorgerlab/indra.git"}


[dev-packages]

