<!doctype html>
<html>
  {% include 'head.html' %}
  <body class="container">
      <div class="row">
      <a class="navbar-brand" href='/' style="color:maroon;">
        <h1>Delphi CAG Visualizer</h1>
      </a> 
      </div>

    <div class="container border rounded" id="cy" style="height:100%;"> 
    </div>
    <script>
      var cy = cytoscape({
        container: document.getElementById('cy'),
        elements: {{ state.elementsJSONforJinja | safe }},
        style: [
          { selector: 'node',
            style: { 
              'label': 'data(id)',
                'background-color': 'white',
                'border-color': 'maroon',
                'border-width': '1px',
                'font-family': 'Arno Pro, Arial',
                'text-halign': 'center',
                'text-valign': 'center',
                'padding': 10,
                'width':'label',
                'shape': 'roundrectangle',
                'text-max-width': '80',
                'text-wrap': true,
            } 
          }, { 
            selector: 'edge',
            style: { 
              'curve-style' : 'bezier',
                'line-color': 'data(linecolor)',
                'target-arrow-shape': 'data(targetArrowShape)',
                'target-arrow-color' : 'data(linecolor)',
                'line-style' : 'data(linestyle)',
                'width': '1'
            } 
          },
        ],
        layout: { 
          name: 'cola',
            <!--flow: {'axis': 'x', 'minSeparation': 200},-->
          nodeDimensionsIncludeLabels: true,
        },                
        maxZoom : 10,
        minZoom : 0.1,
      });
      var makeTippy = function(ele, text){
        return tippy( ele.popperRef(), {
          html: (function(){
            var div = document.createElement('div');
            div.innerHTML = text;
            div.setAttribute(
              "style", "max-width: 20em;  text-align: left;");
            return div;
          })(),
          size: 'small',
          trigger: 'manual',
          arrow: true,
          placement: 'top',
          hideOnClick: false,
          interactive: true,
          multiple: true,
        }).tooltips[0];
      };

      cy.nodes().forEach(function(node){
        node.data()['tip'] = makeTippy(node, node.data('tooltip'));
      });

      cy.edges().forEach(function(edge){
        edge.data()['tip'] = makeTippy(edge, JSON.stringify(edge.data('tooltip'), null, '\t'));
      });


      cy.on('tap', function(evt){
        var ele = evt.target;
        if (ele.data()['tip']['state']['visible']){
          ele.data()['tip'].hide();
        } else {
          ele.data()['tip'].show();
        }
      });
    </script>
  </body>
</html>
