<!doctype html>
<html>
  {% include 'head.html' %}
  <body class="container-fluid">
      <!--<div class="row">-->
      <!--<a class="navbar-brand" href='/' style="color:maroon;">-->
        <!--<h1>Delphi CAG Visualizer</h1>-->
      <!--</a> -->
      <!--</div>-->

    <div class="container-fluid border rounded" id="cy" style="height:100%;"> 
    </div>
    <script src="/static/cyStyle.js"></script>
    <script>
      var cy = cytoscape({
        container: document.getElementById('cy'),
        elements: {{ state.elementsJSONforJinja | safe }},
        style: cyStyle,
        layout: { 
          name: 'cose',
            <!--flow: {'axis': 'x'},-->
          nodeDimensionsIncludeLabels: true,
            componentSpacing: 4,
        },                
        maxZoom : 10,
        minZoom : 0.1,
      });

      var makeTippy = function(ele, text){
        return tippy( ele.popperRef(), {
          html: (function(){
            var div = document.createElement('div');
            div.innerHTML = text;
            div.setAttribute(
              "style", "max-width: 20em;  text-align: left;");
            return div;
          })(),
          size: 'small',
          trigger: 'manual',
          arrow: true,
          placement: 'top',
          hideOnClick: false,
          interactive: true,
          multiple: true,
        }).tooltips[0];
      };

      cy.nodes().forEach(function(node){
        node.data()['tip'] = makeTippy(node, node.data('tooltip'));
      });

      cy.edges().forEach(function(edge){
        edge.data()['tip'] = makeTippy(edge, JSON.stringify(edge.data('tooltip'), null, '\t'));
      });


      cy.on('tap', function(evt){
        var ele = evt.target;
        if (ele.data()['tip']['state']['visible']){
          ele.data()['tip'].hide();
        } else {
          ele.data()['tip'].show();
        }
      });
    </script>
  </body>
</html>
