# Workflow for continuous integration and testing

name: Continuous Integration

on:
  push:
    branches: [ '*' ]
  pull_request:
    branches: [ '*' ]

jobs:
  ci:
    runs-on: ${{ matrix.os }}
    if: github.repository == 'ml4ai/delphi'
    strategy:
      matrix:
        os: [ubuntu-20.04]


    steps:
    - uses: actions/checkout@v2

    - name: Continuous Integration
      env:
        DELPHI_DB: /home/runner/work/delphi/delphi.db
      run: |
        sudo apt-get update
        sudo apt-get install -y\
            libboost-all-dev\
            pkg-config\
            cmake\
            curl\
            git\
            tar\
            wget\
            python3-dev\
            python3-venv\
            graphviz\
            libgraphviz-dev\
            libsqlite3-dev\
            libeigen3-dev\
            pybind11-dev\
            libfmt-dev\
            librange-v3-dev\
            nlohmann-json3-dev

        python3 -m venv delphi_venv
        source delphi_venv/bin/activate
        pip install wheel

        mkdir -p data && curl http://vanga.sista.arizona.edu/delphi_data/delphi.db -o $DELPHI_DB

        # Install served from source
        sudo git clone https://github.com/meltwater/served
        cd served 
        sudo mkdir build 
        cd build 
        sudo cmake .. 
        sudo make -j `nproc` install 
        cd ../..

        # build the api
        sudo mkdir build
        cd build
        sudo cmake ..
        sudo make -j `nproc` 

        # run the api as a background process
        sudo ./delphi_rest_api &

        # call out the database alias
        printf "Using database: $DELPHI_DB\n"

        # test the api
        cd ../apps
        python3 ./test_cpp_rest_api.py
